@import "../../../assets/styles/variables.scss";

.container{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

table{
    min-width: 80%;
    margin: auto;
    text-align: center;
}

.mat-header-cell{
    color: $black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

//modifica estilo de filas pares
.mat-row:nth-child(even){
    background-color:$white;
}

//modifica estilo de filas impares
.mat-row:nth-child(odd){
    background-color:$red;
    & .mat-cell{
        color: white;
    }
}

//primera letra en mayuscula
.mat-cell::first-letter{
    text-transform: uppercase;
}

//efecto hover en filas
.mat-row:hover{
    cursor: pointer;
    box-shadow: inset 0 0 0 5px $yellow;
}

//se invoca a ng para poder cambiar el estilo del paginador
::ng-deep.mat-paginator{
    width: 80%;
    margin: auto;
}

.mat-form.field{
    font-size: 13px;
    width: 20%;
    margin-bottom: 5px;
    padding: 10px;
}

::ng-deep.mat-form-field-label{
    color: $white !important;
}

::ng-deep.mat-form-field-underline{
    background-color: $white !important;
}

::ng-deep.mat-form-field-ripple{
    background-color: $white !important;
}

input{
    color: $white !important;
}

::ng-deep.placeholder{
    color: $white !important;
}